@tailwind base;
@tailwind components;
@tailwind utilities;

ul li {
    cursor: pointer;
}

.navbar--content {
    color: #1c1e53;
    cursor: pointer;
}
.navbar--active-content {
    color: #5e3bee;
}

