@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

ul li {
    cursor: pointer;
}

ul li:hover {
    color: #7c7c7c;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: .4rem;
    width: 100%;
}

.nav-list i {
    display: none;
}

.profile-img {
    background: url(../src/assets/hero-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: blob 8s ease-in-out infinite 1s;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%
}

.navbar--active-content {
    color: rgb(177, 177, 177);
}

@keyframes blob {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

@media screen and (max-width: 768px) {
    .nav-list i {
        display: block;
    }
}


.slick-dots {
    bottom: -5rem;
}

.slick-arrow {
    opacity: 1;
}

.slick-prev {
    left: -32px;
}

.slick-arrow:before {
    font-size: 28px;
}

.group:hover .text-desc {
    opacity: 1;
    visibility: visible;
    background: linear-gradient(rgba(0,0,0, 0.100), rgba(0,0,0, 0.80));
}
  
